// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');


// Variables

//Breakpoints
$size-sm:      "only screen and (min-width : 480px)";
$size-med:     "only screen and (min-width : 768px)"; // is represented in the iPad's portrait view
$size-lg:      "only screen and (min-width : 992px)"; // is represented in the iPad's landscape view
$size-xlg:     "only screen and (min-width: 1200px)";

// Typography
$main-font: 'Open Sans', Helvetica, sans-serif;

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$white: #fff;
$black: #000;
$blue: #02b3e4;

// PAGE SECTION STYLES

/********************************
* Base Styles 
*********************************/

/* reset by boostrap */

body, html {
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #333;
    background-color: #f1f1f1;
}

html {
    //font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

a {
    transition: all 0.4s ease;

    &:hover {
        text-decoration: none;
    }
}

h2 {
    font-weight: $bold;

    @media #{$size-med} {
        font-size: 36px;
    }
}

p {
    line-height: 1.7;
    font-size: 18px;
}

.btn-join {
    background-color: $blue;
    border-color: $blue;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 50px;
    color: #fff;

    &:hover {
        background-color: darken($color: $blue, $amount: 10);
        border-color: darken($color: $blue, $amount: 10);
    }
}

/* Site Header */
.site-header {
    background-color: $white;

    img {
        width: 320px;
    }
}


/* Main Content */
.content {
    .container {
        max-width: 750px;
    }
}

.form-control {
    height: 45px;
}