@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
/********************************
* Base Styles 
*********************************/
/* reset by boostrap */
body, html {
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333;
  background-color: #f1f1f1;
}

img {
  display: block;
  max-width: 100%;
}

a {
  transition: all 0.4s ease;
}

a:hover {
  text-decoration: none;
}

h2 {
  font-weight: 700;
}

@media only screen and (min-width : 768px) {
  h2 {
    font-size: 36px;
  }
}

p {
  line-height: 1.7;
  font-size: 18px;
}

.btn-join {
  background-color: #02b3e4;
  border-color: #02b3e4;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 13px 50px;
  color: #fff;
}

.btn-join:hover {
  background-color: #028bb1;
  border-color: #028bb1;
}

/* Site Header */
.site-header {
  background-color: #fff;
}

.site-header img {
  width: 320px;
}

/* Main Content */
.content .container {
  max-width: 750px;
}

.form-control {
  height: 45px;
}
